extends layout

block content
  h1= title
  - var results = [{houses_color:"Brown",houses_length:"800",houses_cost:"$200000"},{houses_color:"yellow",houses_length:"1000",houses_cost:"$250000"},{houses_color:"gray",houses_length:"600",houses_cost:"$10000"}]
  div(class="container-fluid")
    div(class="row")  
      each item in results
        div(class="col-sm-2", onClick=`buy(${index})`)
          p Color is #{item.houses_color}
          p Range is #{item.houses_length}
          p Cost is #{item.houses_cost}

    //- Bonus Logic
  script.
    function buy(itr) {
      itr = itr+1;
      alert(`You Purchased Item ${itr}`);
    }